.form-group {
    position: relative;
    padding: 10px;
    width: 100%;
    border: 1px solid $primary;
    border-radius: 5px;

    @media (max-width: map_get($grid-breakpoints, md)) {
        max-width: 400px;
    }

    &.in-focus {

        // .label-placeholder {
        //     left: 0;
        //     bottom: 100%;
        //     font-size: 14px;
        //     color: #fff;
        // }

        // .form-control {
        //     background: transparent;
        //     border-color: transparent;
        // }
    }

    .label-placeholder {
        position: absolute;
        top: -15px;
        left: 15px;
        display: inline-block;
        background: #fff;
        padding: 5px 10px;
        color: $primary;
        transition: .5s;
        z-index: 4;
        cursor: pointer;
    }

    .form-control {
        background: transparent;
        border: none;
        color: $dark;
        font-weight: 300;

        &::-webkit-input-placeholder {
            color: #bbb6dc;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
        }

        &::-moz-placeholder {
            color: #bbb6dc;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
        }

        &:-ms-input-placeholder {
            color: #bbb6dc;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
        }

        &:-moz-placeholder {
            color: #bbb6dc;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}